<nav role="navigation">
  <span class="icon-panel navbar-left">
    <!-- <img src="/app/nav/fount_logo.gif" class="logo"></img> -->
    <a class="icon" ui-sref="index" autoscroll='false' 
    ng-class="{hovering: lol, animated: lol, swing: lol, infinite: lol}" 
    ng-mouseover="lol=true"
    ng-mouseleave="lol=false">Fount</a>
    <!-- <a class="explore" ui-sref="index" style="margin-left: 20px" -->
       <!-- autoscroll='false'>Explore</a> -->
  </span>

  <span class="auth-panel navbar-right">
    <!-- <a class="button" ng-hide="isAuth" ui-sref="index.submitCategory">Submit Category</a> -->
    <a class="button" ng-if="isAuth.isLoggedIn" ui-sref="dashboard">Dashboard</a>
    <a class="button auth" ng-hide="isAuth.isLoggedIn" ui-sref="index.signup" autoscroll='false'>Signup</a>
    <a class="button auth" ng-hide="isAuth.isLoggedIn" ui-sref="index.signin" autoscroll='false'>Signin</a>
    <a class="button" ng-show="isAuth.isLoggedIn" ng-click="logout()">Logout</a>
  </span>
</nav>