html, body{
  height: 100%;
}

body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.large-search-container{
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  background: rgba(252, 252, 252, 0.95);
  margin: 0;
  padding-left: 14%;
  padding-top: 15%;
  padding-bottom: 10%;
  font-family: 'Ubuntu', sans-serif;

/*  -webkit-box-shadow: 0px 10px 14px -1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 10px 14px -1px rgba(0,0,0,0.15);
  box-shadow: 0px 10px 14px -1px rgba(0,0,0,0.15);*/
}

.large-search-container h1{
  font-size: 5.9vw;
}

.search{
  border: none;
  background: transparent;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  font-size: inherit;
  outline: 0;
  width: 50%;
}


header{
  height: 42px !important;
  width: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  z-index: 3;
  -webkit-box-shadow: 0px 10px 14px -1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 10px 14px -1px rgba(0,0,0,0.15);
  box-shadow: 0px 10px 14px -1px rgba(0,0,0,0.15);
}

.navbar-panel{
  position: fixed;
  display: inline;
}
.auth-panel{
  position: absolute;
  display: inline;
  float: right;
}

.page{
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#contents{
  position: relative;
  z-index: 3;
  background: white;
  margin-top: 0px;
  padding: 20px;
  height: 100%;
  -webkit-box-shadow: 0px -4px 33px -14px rgba(0,0,0,1);
  -moz-box-shadow: 0px -4px 33px -14px rgba(0,0,0,1);
  box-shadow: 0px -4px 33px -14px rgba(0,0,0,1);
}

#sub-contents{
  width: 80%;
  margin: 0 auto;
}


.submission{
  padding: 10px;
}

.rank{
  float:left;
  text-align: center;
  width: auto;
  margin-top: 20px;
  color: #c6c6c6;
  font-family: arial;
  font-size: medium;
  text-align: left;
}

.vote-info{
  float: left;
  width: auto;
  margin-right: 7px;
  margin-left: 7px;
  background: transparent;
  overflow: hidden;
}

.vote-count{
  color: #c6c6c6;
  text-align: center;
}
.upvote,
.downvote{
  color: #c6c6c6;
  cursor: pointer;

  margin: 2px 0px 0px 0px;
  width: 100%;
  height: 14px;
  display: block;
  width: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

.entry{
  margin-left: 20px;
  overflow: hidden;
  margin-left: 3px;
  opacity: 1;
}

.title{
  font-weight: bold;
  font-size: medium;
  color: #4a4a4a;
}

.title:hover{
  color: #4aabe7;
}

.title:visited{
  color: #9178d0;
}

.url{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  max-width: 19em;
  font-size: x-small;
  color: #888;
  text-decoration: none;
}

.tagline{
  font-size: x-small;
  color:#888;
}
/*
.unvisited{
  color: #4a4a4a;
}

.visited{
  color: #9178d0;
}*/


.odd{
  background: rgba(20, 20, 20, 0.03);
}

.even{
 background: white;
}

/*.category-container{
  padding-top: 20px;
  z-index: 999;
}
*/




/*
.search, .search:focus {
  border:none;
  background: transparent;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 36px ;
}
.search {
  animation: blink-empty 1s infinite;
  border-left: transparent solid 1px;
  margin-left:15px 
}

@keyframes blink-empty {
  50% {border-left: 1px solid #333;}
}*/