/*html, body, .wrapper{
  height: 100%;
}*/

html {
  min-height: 100%;
  width: 100%;
  background-image: url('../img/building-lowres.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  background-color: transparent;
}

a {
  /*color: #00B7FF;*/
  color: #fff;
}

a.icon:focus{
  color: white;
  text-decoration: none;
} 


label {
  color: #fff;
}

h1, h2, h3, h4{
  /*color: rgba(0,0,0,0.7);*/
  color: #fff;
  font-family: "Open Sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

ul{
  padding: 0px;
  margin-top: 30px;
}

#searchbox {
  border-bottom: 1px solid #fff;
}

.large-search-container{
  display: inline-block;
  position: relative;
  width: 100%;
/*  top: 0;
  left: 0;*/
  /*background: rgba(252, 252, 252, 0.95);*/
  margin: 0 auto;
  padding-left: 14%;
  padding-top: 14%;
  padding-bottom: 2%;
  font-family: 'Open Sans', sans-serif;
}

/*START - Header */

header{
  height: 55px !important;
  width: 100%;
  position: fixed;
  /*background: rgba(255, 255, 255, 0.8);*/
  border: none;
  z-index: 5;
/*  -webkit-box-shadow: 0px 10px 14px -1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 10px 14px -1px rgba(0,0,0,0.15);
  box-shadow: 0px 10px 14px -1px rgba(0,0,0,0.15);*/
}

.icon-panel{
  display: block;
  position: absolute;
  top: 10px;
  left: 15px;
  bottom: 0;
}

.logo{
  margin-top:  -10px;
  margin-right: 4px;
  width: 30px;
  height: 30px;
}
.icon{
  font-size: 24px;
  /*color: rgba(0,0,0,0.7);*/
  font-family: "Open Sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 900;
  font-style: normal;

  speak: none;
  text-decoration: none;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


.explore{
  font-weight: 700;
  border-top: 0;
  /*color: rgba(0,0,0,0.7);*/
  padding: 10px 0;
  letter-spacing: .1em;
  font-style: normal;
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
}

a.icon:hover, a.explore:hover{
  text-decoration: none;
  /*color: rgba(0,0,0,0.7);*/
  color: white;
}

.auth-panel{
  top: 5px;
  right: 25px;
  position: absolute;
  display: inline;
  float: right;
}

.button{
  display: inline-block;
  padding: 0 14px;
  line-height: 32px;
  margin-top: 4px;
  position: relative;
  color: #fff;
  background: rgba(0,0,0,0);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #fff;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 999em;
  font-family: "Open Sans","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: border 100ms;
  -moz-transition: border 100ms;
  -o-transition: border 100ms;
  transition: border 100ms;
}

a.button:hover{
  text-decoration: none;
  border: 1px solid rgba(0,0,0,0.35);
  color: rgba(0,0,0,0.44);
}

.button:hover{
  text-decoration: none;
}

.button.auth{
  border-color: #F4EEA8;
  color: #F4EEA8;
}
.button.auth:hover{
  border-color: rgba(0,0,0,0.35);
  color: rgba(0,0,0,0.44);
}

/* END - Header */


.large-search-container h1{
  font-size: 3.9vw;
  font-weight: 100;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.search{
  border: none;
  background: transparent;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: inherit;
  outline: 0;
  width: 50%;
}


/*START - Categories View  */

.col-md-4{
  padding-bottom: 10px;
  padding-top: 10px;
}

.col-md-3{
  padding-bottom: 10px;
  padding-top: 10px;
}

.category-row{
  height: 20em;
}

.category{
  min-height: 100px;
  padding: 10px 12px;
  background: #fff;
  /*opacity: 0.8;*/
  border: 1px solid #fff;
  /*white-space: nowrap;*/
  word-wrap: break-word;
  box-sizing: border-box;
  border-radius: 5px;
  border-bottom: 10px solid #F4EEA8;

  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.23);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.23);
}


.stat {
  float: right;
  color: #4a4a4a;
  margin-left: 10px;
  vertical-align: middle;
}



.title {
  color: #4a4a4a;
  font-family: 'Open Sans', Helvetica;
  font-size: 2.2em;
  font-weight: 500;
  color: #333;
  /*color: rgba(255, 255, 255, 0.95);*/
  word-wrap: break-word;
  /*text-transform: uppercase;*/
}

.postTitle {
  color: #4a4a4a;
  font-family: 'Open Sans', Helvetica;
  font-size: 1.1em;
  font-weight: 500;
  color: #333;
  /*color: rgba(255, 255, 255, 0.95);*/
  word-wrap: break-word;
  /*text-transform: uppercase;*/
}

.title:hover{
  color: #4a4a4a;
  cursor: pointer;
}

.title:visited{
  color: #9178d0;
}

.category:hover{
}

.category > a{
  /*color: rgba(0, 0, 0, 0.5);*/
  color: #333;
}

.category > a:hover{
  text-decoration: none;
}
.categories{
  padding: 0px;
}

/*.category a{
  font-family: 'Open Sans', Helvetica;
  font-size: 2.2em;
  font-weight: 500;
  color: #333;
}*/

.img{
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/*END - Categories View */


/*START - Subcategories category View  */

.categoryTitle{
  margin-bottom: 20px;
  display: inline;
  vertical-align: middle;
  margin-right: 15px;
}

.subcategory{
  padding: 10px;
  background: #fff;
  margin-bottom: 10px;
  list-style-type: none;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.23);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.23);
}

.subcategory:hover{
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.43);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.43);
}

.subcategory > a{
  color: rgba(0, 0, 0, 0.5);
}

.subcategory > a:hover{
  text-decoration: none;
}
/*END - Subcategories category View */

.page{
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}

.contents{
  position: relative;
  z-index: 3;
  /*background: white;*/
  margin-top: 0px;
  padding: 20px;
  min-height: 100%;
/*  -webkit-box-shadow: 0px -4px 33px -14px rgba(0,0,0,1);
  -moz-box-shadow: 0px -4px 33px -14px rgba(0,0,0,1);
  box-shadow: 0px -4px 33px -14px rgba(0,0,0,1);*/
}

.sub-contents{
  width: 80%;
  margin: 0 auto;
}


.submission{
  padding: 10px;
}

.rank{
  float:left;
  text-align: center;
  width: auto;
  margin-top: 20px;
  color: #c6c6c6;
  font-family: arial;
  font-size: medium;
  text-align: left;
}

.vote-info{
  float: left;
  width: auto;
  margin-right: 7px;
  margin-left: 7px;
  background: transparent;
  overflow: hidden;
}

.vote-count{
  color: #c6c6c6;
  text-align: center;
}
.upvote,
.downvote{
  color: #c6c6c6;
  cursor: pointer;

  margin: 2px 0px 0px 0px;
  width: 100%;
  height: 14px;
  display: block;
  width: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

.entry{
  margin-left: 20px;
  overflow: hidden;
  margin-left: 3px;
  opacity: 1;
}


.url,
.url a{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  max-width: 19em;
  font-size: x-small;
  color: #888;
  text-decoration: none;
}

.tagline{
  font-size: x-small;
  color:#888;
}


.odd{
  background: #fff;
}

.even{
 background: #fff;
}



    /*
 *  Usage:
 *
 *    <div class="sk-folding-cube">
 *      <div class="sk-cube1 sk-cube"></div>
 *      <div class="sk-cube2 sk-cube"></div>
 *      <div class="sk-cube4 sk-cube"></div>
 *      <div class="sk-cube3 sk-cube"></div>
 *    </div>
 *
 */
.sk-folding-cube {
  /*margin: 40px auto;*/
  display: inline-block;
  margin: 0px;
  width: 40px;
  height: 40px;
  position: inherit;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg); }
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%; }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg); }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg); }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg); }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s; }
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }


.spinner {
  /*margin: 100px auto;*/
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: lightblue;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.lol a {
  color: black;
}

.dashboard {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 5%;
  padding-top: 10%;
  font-family: 'Open Sans', sans-serif;

}

a:focus, a:visited {
  color: white;
  text-decoration: none;
}