html, body, .wrapper{
  height: 100%;
}

body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1, h2, h3, h4{
  background: #fff;
  color: rgba(0,0,0,0.7);
  font-family: "Open Sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}



.large-search-container{
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  background: rgba(252, 252, 252, 0.95);
  margin: 0;
  padding-left: 14%;
  padding-top: 7%;
  padding-bottom: 2%;
  font-family: 'Open Sans', sans-serif;
}

/*START - Header */

header{
  height: 55px !important;
  width: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  z-index: 5;
  -webkit-box-shadow: 0px 10px 14px -1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 10px 14px -1px rgba(0,0,0,0.15);
  box-shadow: 0px 10px 14px -1px rgba(0,0,0,0.15);
}

.icon-panel{
  display: block;
  position: absolute;
  top: 10px;
  left: 15px;
  bottom: 0;
}

.icon{
  font-size: 24px;
  background: #fff;
  color: rgba(0,0,0,0.7);
  font-family: "Open Sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 900;
  font-style: normal;

  speak: none;
  text-decoration: none;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


.explore{
  font-weight: 700;
  border-top: 0;
  color: rgba(0,0,0,0.7);
  padding: 10px 0;
  margin-left: 20px;
  letter-spacing: .1em;
  font-style: normal;
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
}

a.icon:hover,
a.explore:hover{
  text-decoration: none;
  color: rgba(0,0,0,0.7);
}

.auth-panel{
  top: 5px;
  right: 25px;
  position: absolute;
  display: inline;
  float: right;
}

.button{
  display: inline-block;
  padding: 0 14px;
  line-height: 32px;
  margin-top: 4px;
  position: relative;
  color: rgba(0,0,0,0.44);
  background: rgba(0,0,0,0);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.15);
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 999em;
  font-family: "Open Sans","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: border 100ms;
  -moz-transition: border 100ms;
  -o-transition: border 100ms;
  transition: border 100ms;
}

a.button:hover{
  text-decoration: none;
  border: 1px solid rgba(0,0,0,0.35);
  color: rgba(0,0,0,0.44);
}

.button:hover{
  text-decoration: none;
}

.button.auth{
  border-color: #a9d8b2;
  color: #57ad68;
}
.button.auth:hover{
  border-color: #57ad68;
  color: #468c54;
}

/* END - Header */


.large-search-container h1{
  font-size: 3.9vw;
  font-weight: 100;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.search{
  border: none;
  background: transparent;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: inherit;
  outline: 0;
  width: 50%;
}


/*START - Categories View  */

.col-md-12{
  padding-bottom: 10px;
}

.categories a{
  font-family: 'Open Sans', Helvetica;
  font-size: medium;
  color: rgba(20, 20, 20, 0.8);
}

.img{
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/*END - Categories View */


.page{
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.contents{
  position: relative;
  z-index: 3;
  background: white;
  margin-top: 0px;
  padding: 20px;
  min-height: 100%;
  -webkit-box-shadow: 0px -4px 33px -14px rgba(0,0,0,1);
  -moz-box-shadow: 0px -4px 33px -14px rgba(0,0,0,1);
  box-shadow: 0px -4px 33px -14px rgba(0,0,0,1);
}

.sub-contents{
  width: 80%;
  margin: 0 auto;
}


.submission{
  padding: 10px;
}

.rank{
  float:left;
  text-align: center;
  width: auto;
  margin-top: 20px;
  color: #c6c6c6;
  font-family: arial;
  font-size: medium;
  text-align: left;
}

.vote-info{
  float: left;
  width: auto;
  margin-right: 7px;
  margin-left: 7px;
  background: transparent;
  overflow: hidden;
}

.vote-count{
  color: #c6c6c6;
  text-align: center;
}
.upvote,
.downvote{
  color: #c6c6c6;
  cursor: pointer;

  margin: 2px 0px 0px 0px;
  width: 100%;
  height: 14px;
  display: block;
  width: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

.entry{
  margin-left: 20px;
  overflow: hidden;
  margin-left: 3px;
  opacity: 1;
}

.title{
  font-weight: bold;
  font-size: medium;
  color: #4a4a4a;
}

.title:hover{
  color: #4aabe7;
}

.title:visited{
  color: #9178d0;
}

.url, 
.url a{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  max-width: 19em;
  font-size: x-small;
  color: #888;
  text-decoration: none;
}

.tagline{
  font-size: x-small;
  color:#888;
}


.odd{
  background: rgba(20, 20, 20, 0.03);
}

.even{
 background: white;
}


