<div class="container" id='submitPost'>
  <div class="col-md-6">
    <h2>Submit A New {{category}} Subcategory</h2>
    <form name="submitForm" ng-submit='createSubcat()' novalidate>
      <div class="form-group postTitle">
        <label id="subcatName" class= "explore">Subcategory Name</label>
        <textarea class="form-control" name="newSubcat" type='text' ng-maxlength="20" ng-model="newSubcatName"></textarea>
      </div>


<!--       <div class="form-group postCat">
        <select ng-model='selectedCategory' ng-options="cat.name for cat in allCategories | orderBy:'category'">
          <option value="">Select category</option>

        </select>
      </div> -->

      <button class="button auth" class="btn btn-primary"><span class="glyphicon glyphicon-send"></span> Create</button>

    </form>

  </div>
</div>

