<div class="container" id='submitNewPost'>
  <div class="col-md-6">
    <h2>Submit a new {{subCategory}} post</h2>
    <form name="submitForm" ng-submit='submitNewPost()' novalidate>
      <div class="form-group postTitle">
        <label id="postTitle" class= "explore">Title</label>
        <textarea class="form-control" name="postTitle" type='text' ng-maxlength="140" ng-model="post.title"></textarea>
      </div>

      <div class="form-group postUrl">
        <label id="postUrl" class= "explore">URL</label>
        <input class="form-control" name="postURL" type='text' ng-model="post.url">
      </div>

      <div class="form-group postSubcat">
        <select ng-model='post.subcat' ng-options="subcat.subcategory for subcat in subcategories | orderBy:'subcategory'">
          <option value="">Select subcategory</option>

        </select>
      </div>

      <button class="button auth" ng-disabled="signinForm.$invalid" class="btn btn-primary"><span class="glyphicon glyphicon-send"></span> Submit</button>

    </form>

  </div>
</div>

