<div id='container' ui-view autoscroll='false'>
  <h2 class="categoryTitle">{{category}}</h2>
  <hr>
  <ul>
    <li ng-repeat="subcat in subcats = (subcategories | orderBy: 'subcategory'| filter: searchForm)" class="subcategory">
      <a ui-sref="app.categories.subcategories.results({subcategory: subcat.subcategory, subcatID: subcat})" >
        {{subcat.subcategory}}
      </a> 
    </li>
  </ul>
  <div ng-if="subcats.length === 0">
      <h5>Holy. Guacamole.<br>  There aren't any subcategories in here... <a ui-sref="app.submitSubcat">Add one... quick!</a></h5>
  </div>
</div> 