<div class="container" id='signin'>
  <div class="col-md-6 col-md-offset-3 " ng-class="error ? 'shake animated' : ''">
    <h2>signin</h2>
    <hr>
    <!--FORM SUBMISSION CALL-->
    <form name="signinForm" ng-submit='signin(user)' novalidate>
 
      <!-- USERNAME INPUT -->
      <div class="form-group" ng-class="{'has-error':signinForm.username.$invalid && !signinForm.username.$pristine}">
        <label id="username" class= "explore">Username</label>
        <input class="form-control" name="username" type='text' ng-minlength="3" ng-model='user.username'>
        <p ng-show="signinForm.username.$error.minlength" class= "explore">Valid username required</p>
      </div>

      <!-- PASSWORD INPUT -->
      <div class="form-group" ng-class="{'has-error':signinForm.password.$invalid && !signinForm.password.$pristine}">
        <label id="password" class='explore'>Password</label>
        <input class="form-control" name="password" type="password" ng-minlength="3" ng-model='user.password'>
        <p class="explore" ng-show="signinForm.password.$error.minlength" class= "explore">Password required</p>
      </div>

      <div ng-if="error" class="alert alert-danger">{{error}}</div>

      <button ng-disabled="signinForm.$invalid" class="button auth"><span class="glyphicon glyphicon-send"></span> signin</button>

    </form>
    <a class="explore" ui-sref="app.signup">Don't have an account? <strong>Signup</strong> ...</a>
  </div>
</div>


